<div class="app-outlet">
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar><i class="material-icons">account_circle</i></div>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="login-card-container">
        <mat-form-field>
          <input matInput placeholder="Email Id" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" type="password" />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button>
        Login
      </button></mat-card-actions
    >
  </mat-card>
</div>
